<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Resep</title>
</head>
<body>
    <h2>Daftar Seluruh Resep</h2>
    <div th:each="resep: ${listResep}">
        <h3 th:text="'Nomor resep: '+ ${resep.noResep}"></h3>
        <h3 th:text="'Nama dokter: '+ ${resep.namaDokter}"></h3>
        <h3 th:text="'Nama pasien: '+ ${resep.namaPasien}"></h3>
        <h3 th:text="'Catatan: '+ ${resep.catatan}"></h3>
        <h3>--------------------------------------------</h3>
    </div>
    <br>
    <a href="/">Home</a>
</body>
</html>